html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 15em auto 15em;
  grid-template-rows: min-content auto min-content;
  max-width: 100em;
  margin: auto;
}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.center {
  float: center;
  padding-left: 4em;
  padding-right: 4em;
}

header,
footer {
  background-color: #a593c2;
  display: flex;
  justify-content: center;
}
aside {
  background-color: transparent;
}

main {
  display: grid;
  display-template-rows: 10em max-content max-content max-content;
  grid-gap: 0.5em;
}
